
@{
    ViewBag.Title = "Bolgeler";
}

<li>@ViewBag.bolge1</li>
<li>@ViewBag.bolge2</li>
<li>@ViewBag.bolge3</li>
<li>@ViewBag.bolge4</li>
<li>@ViewBag.bolge5</li>
<li>@ViewBag.bolge6</li>
<li>@ViewBag.bolge7</li>

<li>@Html.ActionLink("Marmara","Bolge","RoutingExample",new { bolge="marmara"},null)</li>

